/* regular */
@font-face {
  font-family: 'Fira Sans';
  src: url(/fonts/FiraSans/FiraSans-Regular.ttf) format('truetype');
  font-display: swap;
}

/* light */
@font-face {
  font-family: 'Fira Sans';
  src: url(/fonts/FiraSans/FiraSans-Light.ttf) format('truetype');
  font-weight: 300;
  font-display: swap;
}

/* light italic */
@font-face {
  font-family: 'Fira Sans';
  src: url(/fonts/FiraSans/FiraSans-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* medium */
@font-face {
  font-family: 'Fira Sans';
  src: url(/fonts/FiraSans/FiraSans-Medium.ttf) format('truetype');
  font-weight: 500;
  font-display: swap;
}

/* medium italic */
@font-face {
  font-family: 'Fira Sans';
  src: url(/fonts/FiraSans/FiraSans-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
